body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    text-shadow: 0 0 10px white;
}

.credit-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    height: 70%;
    overflow: hidden;
    border: 2px solid white;
    padding: 10px;
    font-size: 27px;
    box-shadow: 0 0 20px white;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    animation: scroll 30s linear infinite;
}

table tr td {
    padding: 10px;
    vertical-align: top;
}

.category {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    color: lightblue;
    text-shadow: 0 0 10px lightblue;
    margin-bottom: 20px;
}

.subcategory {
    text-align: center;
    width: 50%;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}

.name {
    position: relative;
    text-align: center;
    width: 50%;
    font-size: 1.2em;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes scroll {
    0% {
        transform: translateY(50%);
    }
    99% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(35%);
    }
}


.rating {
    display: inline-block;
    position: fixed;
    bottom: 10px;     
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: white;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: yellow;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: white;
    text-shadow: 0 0 5px #09f;
  }