html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
}

body {
    background-color: lightblue; 
    margin: 0;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 860px;
    background-color: white; 
    max-width: 100%;
}

#shotgun-shells {
    position: absolute;
    top: 82%;
    left: 22%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.shell {
    width: 100px;
    height: 70px;
    background-image: url('assets/images/shotgun/FX/shell.png');
    background-size: cover;
    visibility: visible; 
    margin-bottom: -20px;
    z-index: 2; 
}

#shell-shadow {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    z-index: 1; 
}

.shell-sh {
    width: 100px;
    height: 70px;
    background-image: url('assets/images/shotgun/FX/shell_shadow.png');
    background-size: cover;
    visibility: visible;
    margin-bottom: -20px;
}

#tutorial1 {
    position: absolute;
    top: 375px;
    right: 100px;
}

#tutorial2 {
    position: absolute;
    top: 675px;
    right: 100px;
}

#credits {
    font-size: large;
    position: absolute;
    right: 100px;
    top: 50px;
}
